h1,
h2,
h3 {
	font-family: primaryDisplay;
	font-style: italic;
	color: var(--color-light-on-background);
}

h3 {
	opacity: 0.85;
}

p,
a,
span,
li {
	font-family: primaryText;
	color: var(--color-light-on-background);
}

.text-body {
	font-size: 1.6rem;
}

.text-screen-title {
	display: inline-block;
	font-size: 8rem;
	line-height: 7rem;
	margin-bottom: 2.4rem;
	color: hsla(0 0% 30% / 1);
}

.text-large-title {
	font-size: 3.4rem;
	line-height: 4.1rem;
	-webkit-font-smoothing: antialiased;
}

.text-title-1 {
	font-size: 2.8rem;
	line-height: 3.4rem;
	margin-bottom: 1.2rem;
}

.text-title-2 {
	font-size: 2.2rem;
	line-height: 2.8rem;
}

.text-title-3 {
	font-size: 2rem;
	line-height: 2.5rem;
}

.text-headline {
	font-size: 1.6rem;
	line-height: 1.9rem;
}

.text-nav {
	font-size: 1.4rem;
	line-height: 1.9rem;
}

.text-footnote {
	font-size: 1.3rem;
	line-height: 1.8rem;
}

.text-caption {
	font-size: 1.2rem;
	line-height: 1.6rem;
	letter-spacing: 0.1rem;
}

.text-button {
	font-size: 1.1rem;
	line-height: 1.3rem;
}

.text-button-caption {
	font-size: 1.1rem;
	line-height: 1.1rem;
	text-transform: uppercase;
	letter-spacing: 0.3rem;
}

.text-icon-caption {
	font-size: 1.1rem;
	line-height: 1.2rem;
}

.text-with-gradient {
	display: inline-block;
	position: relative;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
	background-color: #21d4fd;
	/* background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%); */
	/* background-image: linear-gradient(19deg, #b721ff 0%, #21d4fd 100%); */
	background-image: linear-gradient(19deg, #b721ff 0%, #7008a061 100%);
	padding-bottom: 1.6rem;
}
